.resume {
    text-align: left;

    &-view {
        display: flex;
        justify-content: start;
        gap: 10px;
    }

    &-multas {
        display: flex;
        flex-direction: column;

        &__total {
            margin-bottom: 15px;
            font-size: 16px;
            display: flex;
            align-items: baseline;
            justify-content: start;
            gap: 10px;
            text-align: left;

            &-price {
                font-size: 20px;
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
        }

        &__pending {
            margin-top: 40px;
        }
    }
}