.custom-select {
  background-color: #ADD8E6;
  color: black;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  appearance: none;
  cursor: pointer;
  width: 250px;

  option {
    background-color: #ADD8E6;
    color: black;
    padding: 15px;
    min-height: 40px;
  }
}