.add-fine {
    text-align: left;

    &-form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}
input::placeholder {
    color: rgb(200, 200, 200);
    opacity: 1;
    font-size: 13px;
}